@import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #111111;
  color: #ff2a56;
  margin-top: 50px;
  font-family: 'Fira Mono', monospace;
  font-size: 10px;
}

div {
  background-color: #d6b3ae;
  padding: 0 20px;
  text-align: center;
  width: 500px;
  margin: auto;
}

.coming-soon {
  color: yellow;
  margin: 100px auto;
}

a:link {
color: #111111;
}

a:visited {
color: #111111;
}

a:hover {
color: #111111;
}
