@import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #e3a4b0;
  font-family: 'Fira Mono', monospace;
  font-size: 20px;
  width: 100%;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 1.3em;
  letter-spacing: 0.5px;
}

#navbar {
  display: flex;
  width: 100vw;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: black;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar li {
  padding: 0 30px;
}

#navbar h1 {
  display: flex;
  align-items: center;
}

#navbar a:link {
  color: #e3a4b0;
}

#navbar a:visited {
  color: #e3a4b0;
}

#navbar a:hover {
  color: #000000;
  background-color: white;
}

.logo {
  padding: 30px;
}

.container {
  font-size: 12px;
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  font-size: 45px;
  margin: 0;
  padding: 0;
}

.cover {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  height: 90vh;
  width: 100vw;
}

.cover h2 {
  font-size: 20px;
  margin: 0 auto 250px auto;
  display: flex;
}

.intro {
  display: flex;
  flex-direction: column;
  height: 00vh;
  width: 100vw;
}

.intro img {
  max-width: 200px;
  border-radius: 50%;
  padding: 15px;
  border: 1px solid #e3a4b0;
  margin: 200px auto 40px auto;
}
/*
.cover-right {
  display: flex;
  background-color: #000000;
  height: 100vh;
  width: 50%;
  float: right;
  font-size: 8px;
} */

/* .links {
  position: absolute;
  top: 30%;
  text-align: center;
}

.links p {
  max-width: 50%;
  text-align: center;
  margin: auto;
  font-size: 20px;
  line-height: 1.5em;
}

.links h1 {
  padding: 15px;
} */

.clouds {
  position: absolute;
}

/* .clouds {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  color: #484848;
  width: 100%;
  text-align: center;
} */

.about {
  padding: 75px 30px 30px 30px;
}

.about-content {
  color: black;
  border-radius: 60px;
  border: 2px solid #e3a4b0;
  padding: 30px;
  max-width: 70%;
  justify-content: center;
  margin: auto;
  background-color: white;
}

.about-content h2 {
  color: #e3a4b0;
}

/* .about-wrapper img {
  position: absolute;
  z-index: -1;
  max-height: 510px;
  padding-left: 37%;
} */

.skills .title {
  padding: 80px 0 40px 40px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: black;
}

.skills ul {
  list-style-type: none;
}

.skills li {
  display: flex;
  flex-direction: column;
  text-align: center;
}

i {
  font-size: 5em;
}

h3 {
  font-weight: 700;
  font-size: 16px;
}

.experience-wrapper {
  padding: 80px 40px 0 40px;
}

.experience-content {
  display: flex;
}

.experience-box {
  width: 30%;
  margin: auto;
  /* background-image: url("images/pinkclouds.jpg"); */
  border-radius: 30px;
  padding: 15px;
  height: 350px;
  width: 330px;
  color: black;
}

.experience-content img {
  max-height: 70px;
}

.projects-wrapper {
  color: #000000;
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
}

.projects p {
  max-width: 400px;
  margin: auto;
}

.project-box {
  display: flex;
  margin: 20px 50px;
}

.project-box img {
  max-width: 350px;
}

.project-box-right {
  margin: auto 70px;
}

.projects-wrapper h4 {
  color: grey;
}

.projects-title {
  background-color: black;
  text-align: center;
  padding: 20px 30px;
  font-size: 45px;
}

.contact-wrapper {
  padding: 30px 30px;
  color: white;
}

.contact-wrapper ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-wrapper li {
  font-size: 15px;
}

.contact-wrapper a:hover {
  color: white;
  background-color: #e3a4b0;
}

/* RESPONSIVE */

/* navbar  */

@media screen and (max-width: 800px)
.topnav a.icon {
    float: right;
    display: block;
}

/* cover */

@media screen and (max-width: 800px) {
  #navbar {
    display: none;
  }

  .cover {
    height: 700px;
  }

  .intro img {
    max-width: 200px;
  }

  .cover h2 {
    font-size: 20px;
    text-align: center;
}
